* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --acent-color: #2196F3;
    --primary-black-color: #212121;
    --logo-black: #000000;
    --primary-gray-color: #757575;
    --primary-white-color: #FFFFFF;
    --background-color-dark: #2F303A;
    --background-color-white: #F5F4FA;

    --text-white-opacity: #ffffff99;
    --container-padding: calc((100% - 1200px) / 2);
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-gray-color);
    background-color: var(--primary-white-color);
}

.sub-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
    color: var(--primary-black-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.section {
    padding: 94px 0;

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.logo {
    font-family: 'Raleway';
    line-height: 1.19;
    font-weight: 700;
    font-size: 26px;
    color: var(--acent-color);
    text-decoration: none;
    padding: 5px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;

    padding-top: 32px;
    padding-bottom: 31px;
}

.header-container .nav-menu {
    display: flex;
    align-items: center;
    gap: 80px;
}

.header-container .contact-menu {
    display: flex;
    align-items: center;
    gap: 80px;
}

.nav-menu .headers:hover,
.nav-menu .headers:focus,
.nav-menu .headers .current:focus,
.contact-menu .nav-contact:hover,
.contact-menu .nav-contact:focus {
    color: var(--acent-color);
}

.nav-menu .current {
    list-style: none;
    font-weight: 500;
    line-height: 1.14;
    color: var(--acent-color);
}

.headers {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--logo-black);
    text-decoration: none;
}

.headers-current {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--acent-color);
}


.nav-contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-gray-color);
    text-decoration: none;
}

.icon:hover {
    fill: var(--acent-color);

}

.hero {
    background: var(--background-color-dark);
    padding: 200px var(--container-padding);
    text-align: center;
    background: linear-gradient(0deg,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/Img-hero.svg);
}

.hero-title {
    font-weight: 900;
    letter-spacing: 0.06;
    font-size: 44px;
    width: 696px;
    margin: 20px auto;
    color: var(--primary-white-color);
}


.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--acent-color);
    background: var(--acent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-items {
    flex-basis: calc((100% - 120px) / 4);
}

.features-icon {
    width: 70px;
    height: 70px;
}

.benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f4fa;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 15px;
}

.features-title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-black-color);
    line-height: 16px;
    margin-bottom: 10px;
}

.features-pagraph {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-gray-color);
}

/*setion album*/





.album-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.album-items {
    flex-basis: calc((100% - 90px) / 3);
}

.cards {
    background: var(--background-color-white);
}

.card-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 20px;
    margin-bottom: 35px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 35px;
    height: 35px;
}

.social-teams {
    fill: var(--primary-gray-color);
}

.social-icon:hover {
    background-color: var(--acent-color);
}

.social-icon:hover .social-teams {
    fill: var(--primary-white-color);
}

.card-items {
    flex-basis: calc((100% - 120px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
}


.card-nome {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
    color: var(--primary-black-color);
}

.card-pagraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-gray-color);
}

.clients-list {
    display: flex;
    justify-content: space-between;
}

.clients-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 81px;
    border: 1px solid var(--primary-gray-color);
    border-radius: 5px;
}

.clients-social:hover {
    border-color: var(--acent-color);
}

.clients-icon {
    fill: var(--primary-gray-color);
}

.clients-icon:hover {
    fill: var(--acent-color);
}


.footer {
    background-color: var(--background-color-dark);
    padding: 60px 0;

}
.footer-flex{
    display:flex;
    gap:50px;
}
.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    color: var(--acent-color);
    display: inline-block;
    margin-bottom: 20px;
}
.address {
    font-weight: 400;
    color: var(--primary-white-color);
    text-decoration: none;
}

.contact {
    font-weight: 400;
    letter-spacing: 0.03em;
    text-decoration: none;
    line-height: 1.71;
    font-style: normal;
    color: var(--text-white-opacity);
}
.aside-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 31px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .aside-list {
    display: flex;
    gap: 20px;
  }
  .aside {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    fill: var(--primary-white-color);
  }
  .aside:hover {
    background-color: var(--acent-color);
  }
  .contact:hover,
  .contact:focus {
    color: var(--acent-color);
  }
  
/*A partir de este momento encuentra la pagina de portafolio*/

.portafolio-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 10px
}

.portafolio-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.portafolio-items {
    flex-basis: calc((100% - 90px) / 3);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

}

.proyect {
    display: block;
    padding: 20px 24px;
}


.portafolio-list .current {
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-white-color);
    text-decoration: none;
    background-color: var(--acent-color);
}

.button:hover {
    background-color: var(--acent-color);

}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Roboto';
    color: var(--primary-black-color);
    padding: 6px 22px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
}

.button .current {
    background-color: var(--acent-color);
}

.portafolio-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    color: var(--primary-black-color);
}

.portafolio-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--primary-gray-color);
}




